* {
  margin: 0;
  padding: 0;

  scrollbar-width: none;

  font-family: Arial, Helvetica, sans-serif;
  outline: none;
}

:root {
  --bg: white;
  --text: black;
}

body.dark {
  --bg: #121212;
  --text: #ffffff;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

.theme {
  padding: 12px;
  margin-bottom: 2px;
  border-radius: 50%;
  border: none;
  background-color: rgb(142, 142, 142);

  left: 2px;
  top: 2px;

  cursor: pointer;
 
}

.theme svg {
  width: 15px;
}



nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--bg);

  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

  z-index: 1000;
  
  color: var(--text);

  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
  
}

input {
  border: none;
  border-radius: 10px;
  padding-left: 10px;

  min-width: 250px;
  

  background-color: rgb(177, 177, 177);
  position: sticky;

  left: 1px;

  margin-right: 5px;

  font-size: 25px;
  font-weight: bold;

  
}



.search-btn {
  min-width: 40px;
  border: none;
  background-color: rgb(177, 177, 177);

  border-radius: 10px;

  position: sticky;
  left: 362px;

  margin-right: 10px;
  cursor: pointer;
}

.size-7 {
  height: 30px;
  width: 18px;

}

.div {
  display: flex;
  justify-content: space-between;

  padding: 25px;
}

.div div {
  cursor: pointer;

  padding: 10px 25px;
  border-radius: 10px;
  margin-left: 5px;

  font-size: 25px;
  font-weight: bold;
}

.active {
  background-color: red;
}



